@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  background-color:hsl(0, 0%, 8%);
  margin: 0px;
}

.flex{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
}

.principal {
  height: 600px;
  width: 300px;
  margin: 20px;
  padding:10px 40px;
  padding-top: 20px;
  border-radius:10px ;
  background-color: hsl(0, 0%, 12%);
}

.image {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 50%;
  width: 110px;
}

.title {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
  font-size: 23px;
}

.location, .description{
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 14px;
}

.location {
  color: hsl(75, 94%, 57%);
  font-weight:600;
  margin-top: 5px;
  margin-bottom:30px ;
}

.description {
  color: hsl(0, 0%, 100%);

}

.link1 {
  display: flex;
  flex-direction: column;

}

.link2 {
  padding: 15px;
  margin: 6px;
  border-radius: 6px;
  background-color:hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight:600;
}

.link2:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

.attribution {
  color: white;
  font-family: "Inter", sans-serif;
}

@media (max-width: 333px) {
  .principal{
    width: 150px;
  }

  .link1 {
    padding: 7px;
    margin: 3px;
  }
}